@media screen and (max-width: 450px){
    #stats-close-img{
        margin-top: 10px !important;
        height: 25px !important;
    }
    #stats-container{
        height: 100% !important;
        width: 100% !important;
        margin: 0 !important;
        border-radius: 0 !important;
        grid-template-columns: 5% 50% 1fr 35px !important;
        grid-template-rows: 100px 15% 1fr 40% !important;
    }
}
