@charset "UTF-8";
#stats-blur {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stats-container {
  border-radius: 10px;
  background-color: #d8d8d8;
  height: 530px;
  width: 650px;
  display: grid;
  grid-template-columns: 25px 400px 200px 25px;
  grid-template-rows: 61px 145px 300px;
}

#stats-fullname {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  align-self: end;
}

#stats-points {
  font-size: larger;
  font-weight: bold;
  list-style: none;
  padding: 0;
  grid-column: 2/3;
  grid-row: 2/3;
}

#stats-points li {
  display: grid;
  grid-template-columns: 50% 50%;
  font-weight: lighter;
  font-size: large;
}

#stats-container h1 span {
  font-weight: lighter;
}

#stats-points li {
  font-weight: lighter;
  font-size: large;
}

#stats-position {
  color: white;
  margin: 0;
  height: 30px;
  width: 120px;
  margin-top: 10px;
  padding: 6px 2px 0 0;
  border-radius: 5px;
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
  justify-self: end;
}

#stats-close-img {
  height: 20px;
  grid-column: 4/5;
  grid-row: 1/2;
  margin-top: 5px;
  cursor: pointer;
}

#stats-club {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  align-self: end;
  text-align: center;
  margin: 0;
  height: 30px;
  width: 190px;
  padding: 6px 2px 0 0;
  border-radius: 5px;
}

.stats-club-Ata {
  color: rgb(255, 255, 255);
  background-color: rgb(30, 112, 184);
}

.stats-club-Bol {
  color: rgb(26, 47, 72);
  background-color: rgb(162, 28, 37);
}

.stats-club-Cag {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 35, 80);
}

.stats-club-Emp {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 87, 156);
}

.stats-club-Fio {
  color: rgb(255, 255, 255);
  background-color: rgb(72, 46, 146);
}

.stats-club-Gen {
  color: rgb(255, 212, 0);
  background-color: rgb(173, 25, 25);
}

.stats-club-Hel {
  color: rgb(255, 231, 74);
  background-color: rgb(0, 83, 149);
}

.stats-club-Int {
  color: rgb(255, 255, 255);
  background-color: rgb(1, 14, 128);
}

.stats-club-Juv {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.stats-club-Laz {
  color: rgb(0, 0, 0);
  background-color: rgb(135, 216, 247);
}

.stats-club-Mil {
  color: rgb(0, 0, 0);
  background-color: rgb(251, 9, 11);
}

.stats-club-Nap {
  color: rgb(255, 255, 255);
  background-color: rgb(18, 160, 215);
}

.stats-club-Rom {
  color: rgb(240, 188, 66);
  background-color: rgb(142, 31, 47);
}

.stats-club-Sal {
  color: rgb(255, 255, 255);
  background-color: rgb(79, 18, 17);
}

.stats-club-Sam {
  color: rgb(255, 255, 255);
  background-color: rgb(27, 84, 151);
}

.stats-club-Sas {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 167, 82);
}

.stats-club-Spe {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.stats-club-Tor {
  color: rgb(255, 255, 255);
  background-color: rgb(138, 30, 3);
}

.stats-club-Udi {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 97, 135);
}

.stats-club-Ven {
  color: rgb(235, 214, 149);
  background-color: rgb(0, 0, 0);
}

#chart-container {
  height: 300px;
  width: 600px;
  margin: 0;
  padding: 0;
  grid-column: 2/4;
  grid-row: 3/4;
}

.player-bean {
  height: 75px;
  width: 58px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1.7em auto;
  padding: 0.5vw;
  font-weight: bold;
  align-items: center;
  justify-items: center;
  background-size: contain !important;
  background-position: center !important;
}

.player-bean-blank {
  color: white;
  opacity: 0.5;
  background: url(../images/blank.jpg);
}

.player-bean-ata {
  color: white;
  background: url(../images/atalanta.jpg);
}

.player-bean-bol {
  color: white;
  background: url(../images/bologna.jpg);
}

.player-bean-cag {
  color: white;
  background: url(../images/cagliari.jpg);
}

.player-bean-emp {
  color: white;
  background: url(../images/empoli.jpg);
}

.player-bean-fio {
  color: white;
  background: url(../images/fiorentina.jpg);
}

.player-bean-gen {
  color: #FFD400;
  background: url(../images/genoa.jpg);
}

.player-bean-hel {
  color: #FFE74A;
  background: url(../images/hellas.jpg);
}

.player-bean-int {
  color: white;
  background: url(../images/inter.jpg);
}

.player-bean-juv {
  color: white;
  background: url(../images/juventus.jpg);
}
.player-bean-juv .player-bean-surname {
  background-color: black;
}

.player-bean-laz {
  color: black;
  background: url(../images/lazio.jpg);
}

.player-bean-mil {
  color: white;
  background: url(../images/milan.jpg);
}

.player-bean-nap {
  color: black;
  background: url(../images/napoli.jpg);
}

.player-bean-rom {
  color: black;
  background: url(../images/roma.jpg);
  background-size: auto !important;
}

.player-bean-sal {
  color: white;
  background: url(../images/salernitana.jpg);
}

.player-bean-sam {
  color: black;
  background: url(../images/sampdoria.jpg);
}
.player-bean-sam .player-bean-number {
  background-color: white;
}
.player-bean-sam .player-bean-surname {
  z-index: 100;
}

.player-bean-sas {
  color: white;
  background: url(../images/sassuolo.jpg);
}

.player-bean-spe {
  color: black;
  background-color: white;
}

.player-bean-tor {
  color: white;
  background: url(../images/torino.jpg);
}

.player-bean-udi {
  color: white;
  background-image: linear-gradient(to bottom, rgb(49, 97, 135) 20%, rgb(17, 206, 202) 50%);
}

.player-bean-ven {
  color: rgb(235, 214, 149);
  background-color: black;
}

.player-bean-surname {
  border-radius: 5px;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  grid-column: 1/3;
  grid-row: 1/2;
}

.player-bean-number {
  font-size: 38px;
  grid-column: 1/3;
  grid-row: 2/3;
}

.player-bean-points {
  font-size: 0.77em;
  grid-column: 1/2;
  grid-row: 3/4;
}

.player-bean-price {
  font-size: 0.77em;
  grid-column: 2/3;
  grid-row: 3/4;
}

.player-bean-btn-stats {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: rgba(216, 216, 216, 0.8078431373);
  color: black;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px 5px 0 0;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: none;
  font-size: 0.8em;
  font-family: "Exo 2", sans-serif;
}

.player-bean-btn-switch-small {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: rgba(216, 216, 216, 0.8078431373);
  color: black;
  text-transform: uppercase;
  border: 0;
  border-radius: 0 0 0 5px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: none;
  font-size: 0.8em;
}

.player-bean-btn-switch-big {
  grid-column: 1/3;
  grid-row: 2/4;
  background: none;
  height: 120%;
  width: 90%;
  z-index: 99;
  display: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  font-size: 0.8em;
}

.player-bean-btn-eliminate {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: rgba(216, 216, 216, 0.8078431373);
  color: black;
  text-transform: uppercase;
  border: 0;
  border-radius: 0 0 5px 0;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: none;
  font-size: 0.8em;
}

.switch-img-small {
  width: 100%;
}

.switch-img {
  width: 100%;
  -webkit-animation: rotation 1s ease-in-out infinite;
          animation: rotation 1s ease-in-out infinite;
}

.eliminate-img {
  width: 100%;
}

.switchable .player-bean-number,
.switchable .player-bean-points,
.switchable .player-bean-price,
.switchable .player-bean-btn-switch-big {
  display: none;
}
.switchable .player-bean-btn-switch-big {
  display: block;
}

.faded {
  opacity: 0.5;
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.player-bean-btn-stats:hover {
  background: #d8d8d8;
  transition-duration: 300ms;
}

.player-bean-btn-switch-small:hover {
  background: #d8d8d8;
  transition-duration: 300ms;
}

.player-bean-btn-eliminate:hover {
  background: #d8d8d8;
  transition-duration: 300ms;
}

.hoverable {
  transition-duration: 300ms;
}

.hoverable:hover {
  transition-duration: 300ms;
  transform: scale(1.6);
}
.hoverable:hover .player-bean-number,
.hoverable:hover .player-bean-points,
.hoverable:hover .player-bean-price {
  display: none;
}
.hoverable:hover .player-bean-btn-stats,
.hoverable:hover .player-bean-btn-switch-small,
.hoverable:hover .player-bean-btn-eliminate {
  display: block;
}

#schedule-wide-screen {
  text-align: center;
  padding: 0 10px 0 10px;
  height: 720px;
  background-image: url(../images/tło6.png);
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 10px;
}
#schedule-wide-screen h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  margin: 0;
}
#schedule-wide-screen h3 {
  color: #d8d8d8;
  background-color: #1a1a1a;
  border-radius: 5px 5px 0 0;
  margin-top: 8px;
}

#schedule-matchday {
  display: grid;
  grid-template-columns: 18% 64% 18%;
  grid-template-rows: 60px;
}

#schedule-matchday-next-button, #schedule-matchday-prev-button {
  grid-row: 1/2;
  background: none;
  padding: 0;
  border: none;
  align-self: center;
  text-align: center;
}
#schedule-matchday-next-button img, #schedule-matchday-prev-button img {
  height: 25px;
  align-self: center;
  justify-self: center;
}

#schedule-matchday-prev-button {
  grid-column: 1/2;
  justify-self: right;
}

#schedule-matchday-next-button {
  grid-column: 3/4;
  justify-self: left;
}

.matchdays-list {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.schedule-match-list {
  list-style: none;
  border-radius: 5px;
  background-color: #d8d8d8;
  margin: 0;
  padding: 0 0 5px 0;
}

.schedule-match {
  display: grid;
  grid-template-columns: minmax(75px, 1fr) minmax(40px, 60px) minmax(75px, 1fr);
  width: 100%;
  height: 25px;
  margin: 10px 0 10px 0;
}

.schedule-match-result {
  grid-column: 2/3;
  text-align: center;
}

.schedule-match-host {
  border-radius: 5px;
  text-align: right;
  font-weight: bold;
}

.schedule-match-guest {
  border-radius: 5px;
  text-align: left;
  font-weight: bold;
}

#market-wide-screen {
  background-image: url(../images/tło6.png);
  grid-column: 3/4;
  grid-row: 1/3;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 20% 70% 10%;
}
#market-wide-screen h1 {
  display: none;
}

#search {
  grid-row: 1/2;
  height: 145px;
  margin: 7px 7px 7px 7px;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 27px 25px 36px 55px;
}

.market-sorting-option, .market-random-squad-button, #market-reset-button, #market-search-bar {
  font-family: "Exo 2", sans-serif;
  border: none;
  padding: 0;
  font-weight: bold;
  border-radius: 5px;
  justify-self: center;
  align-self: center;
}

#market-search-bar {
  outline-style: none;
  background: #d8d8d8;
  grid-column: 1/5;
  grid-row: 1/2;
  width: 88%;
  padding: 2px;
}

#market-reset-button {
  background-color: #1a1a1a;
  color: #d8d8d8;
  grid-column: 3/5;
  grid-row: 3/4;
  height: 30px;
  width: 81%;
}

.market-random-squad-button {
  background-color: #1a1a1a;
  color: #d8d8d8;
  grid-column: 1/3;
  grid-row: 3/4;
  height: 30px;
  width: 81%;
}

#market-sorting-opener {
  border-radius: 5px;
  grid-row: 2/3;
  grid-column: 1/5;
  margin: 0;
  height: 20px;
  align-self: center;
}

.market-sorting-option {
  background-color: #d8d8d8;
  color: #1a1a1a;
  width: 90%;
}

#market-position-filters {
  grid-column: 1/5;
  grid-row: 4/5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.border-element {
  justify-self: center;
  align-self: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

#gk-filter-border-element {
  background: linear-gradient(to left bottom, rgb(255, 174, 0), rgb(216, 148, 0));
}

#def-filter-border-element {
  background: linear-gradient(to left bottom, rgb(0, 255, 42), rgb(0, 167, 14));
}

#mid-filter-border-element {
  background: linear-gradient(to left bottom, rgb(38, 0, 255), rgb(0, 16, 107));
}

#fwd-filter-border-element {
  background: linear-gradient(to left bottom, rgb(255, 0, 0), rgb(141, 0, 0));
}

.market-filter-button {
  justify-self: center;
  align-self: center;
  margin: 5px;
  padding: 0;
  height: 25px;
  width: 25px;
  border: none;
  font-family: "Exo 2", sans-serif;
  font-weight: bolder;
  font-size: 10px;
  border-radius: 50%;
}

#gk-filter-button {
  color: rgb(192, 179, 0);
  background-color: none;
}

#def-filter-button {
  color: rgb(0, 167, 14);
  background-color: none;
}

#mid-filter-button {
  color: rgb(0, 25, 167);
  background-color: none;
}

#fwd-filter-button {
  color: rgb(209, 3, 3);
  background-color: none;
}

#page-toggle-bar-bottom {
  justify-self: center;
  align-self: center;
  grid-row: 3/4;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#page-toggle-bar-bottom #page-toggle-slide {
  background-color: inherit;
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 10px 13px 10px;
  width: 100%;
}
#page-toggle-bar-bottom #page-toggle-slide::-webkit-slider-thumb {
  height: 20px;
  width: 13px;
  border-radius: 7px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
#page-toggle-bar-bottom #page-toggle-slide::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #ffffff;
  border-radius: 25px;
}
#page-toggle-bar-bottom .page-toggle-button {
  background: none;
  padding: 0;
  border: none;
  align-self: center;
  text-align: center;
}
#page-toggle-bar-bottom .page-toggle-button img {
  height: 25px;
  align-self: center;
  justify-self: center;
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
    opacity: 0;
  }
  51% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
    opacity: 0;
  }
  51% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes slide-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
    opacity: 0;
  }
  51% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
    opacity: 0;
  }
  51% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
#market-list-right, #market-list-left, #market-list {
  grid-row: 2/3;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  list-style: none;
}

#market-list-left {
  -webkit-animation: slide-left 400ms ease;
          animation: slide-left 400ms ease;
}

#market-list-right {
  -webkit-animation: slide-right 400ms ease;
          animation: slide-right 400ms ease;
}

.market-player {
  font-size: 1.1em;
  white-space: nowrap;
  padding: 6px 6px 6px 0;
  margin: 7px 7px 7px 3px;
  display: grid;
  grid-template-columns: 5% 55% 20% 20%;
  border-radius: 5px;
}

.invisible {
  display: none;
}

.market-player-label {
  padding: 6px;
  margin: 7px;
  display: grid;
  grid-template-columns: 10px 8fr 3fr 2fr;
}

.second-name-label {
  grid-column: 2/3;
}

.club-name-label {
  grid-column: 3/4;
}

.price-label {
  grid-column: 4/5;
}

.position-marker-g {
  grid-column: 1/2;
  background-color: rgb(219, 144, 3);
  width: 4px;
  align-self: center;
  justify-self: center;
  height: 70%;
  transition-duration: 300ms;
}

.position-marker-d {
  grid-column: 1/2;
  background-color: rgb(17, 204, 0);
  width: 4px;
  align-self: center;
  justify-self: center;
  height: 70%;
  transition-duration: 300ms;
}

.position-marker-m {
  grid-column: 1/2;
  background-color: rgb(0, 25, 167);
  width: 4px;
  align-self: center;
  justify-self: center;
  height: 70%;
  transition-duration: 300ms;
}

.position-marker-f {
  grid-column: 1/2;
  background-color: rgb(253, 1, 1);
  width: 4px;
  align-self: center;
  justify-self: center;
  height: 70%;
  transition-duration: 300ms;
}

.market-player:hover .position-marker-g,
.market-player:hover .position-marker-d,
.market-player:hover .position-marker-m,
.market-player:hover .position-marker-f {
  height: 130%;
  transition-duration: 300ms;
}

.second-name {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  grid-column: 2/3;
  width: 115px;
}

.price-btn {
  font-family: "Exo 2", sans-serif;
  background-color: #1a1a1a;
  color: #d8d8d8;
  font-weight: bold;
  width: 38px;
  height: 25px;
  padding: 0;
  border: none;
  border-radius: 5px;
  grid-column: 4/5;
  justify-self: end;
}

.club-name {
  font-family: "Exo 2", sans-serif;
  font-size: 13px;
  font-weight: bold;
  width: 38px;
  height: 17px;
  margin: 0;
  border: none;
  border-radius: 5px;
  grid-column: 3/4;
  cursor: default;
  justify-self: end;
  align-self: end;
  text-align: center;
  padding: 4px 0 4px 0;
}

.club-name-atalanta {
  color: white;
  background-color: #1E71B8;
}

.club-name-bologna {
  color: #1A2F48;
  background-color: #A21C26;
}

.club-name-cagliari {
  color: #AD002A;
  background-color: #002350;
}

.club-name-empoli {
  color: white;
  background-color: #00579C;
}

.club-name-fiorentina {
  color: white;
  background-color: #482E92;
}

.club-name-genoa {
  color: #FFD400;
  background-color: #AD1919;
}

.club-name-hellas {
  color: #FFE74A;
  background-color: #005395;
}

.club-name-inter {
  color: white;
  background-color: #010E80;
}

.club-name-juventus {
  color: white;
  background-color: black;
}

.club-name-lazio {
  color: white;
  background-color: #87D8F7;
}

.club-name-milan {
  color: black;
  background-color: #FB090B;
}

.club-name-napoli {
  color: white;
  background-color: #12A0D7;
}

.club-name-roma {
  color: #F0BC42;
  background-color: #8E1F2F;
}

.club-name-salernitana {
  color: white;
  background-color: rgb(79, 18, 17);
}

.club-name-sampdoria {
  color: white;
  background-color: rgb(27, 84, 151);
}

.club-name-sassuolo {
  color: black;
  background-color: rgb(0, 167, 82);
}

.club-name-spezia {
  color: black;
  background-color: white;
}

.club-name-torino {
  color: white;
  background-color: #8A1E03;
}

.club-name-udinese {
  color: white;
  background-color: rgb(49, 97, 135);
}

.club-name-venezia {
  color: rgb(235, 214, 149);
  background-color: black;
}

body {
  color: #000000;
  font-family: "Exo 2", sans-serif;
  margin: 0;
  --first-color: #1a1a1a;
  --second-color: #d8d8d8;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default !important;
  background-color: #646464 !important;
  color: #d8d8d8 !important;
}

#main-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: minmax(auto, 1350px);
  grid-template-rows: 110px minmax(35vw, 740px) 140px;
  grid-column-gap: 1vw;
}

#menu-img-container {
  grid-column: 1/2;
  grid-row: 1/2;
  background-position-x: center;
  background-position-y: center;
}

#market-small-screen,
#schedule-small-screen {
  display: none;
}

#menu {
  height: 100%;
  background-image: linear-gradient(to right, #0e0e0e 20%, #4d4d4d);
  display: grid;
  grid-template-columns: 50% 15% 15% 15% 5%;
}

#main-title {
  grid-column: 1/2;
  margin: auto auto auto 40px;
  color: var(--second-color);
  cursor: pointer;
  white-space: nowrap;
}

.main-button {
  text-align: center;
  margin: auto;
  color: var(--second-color);
  cursor: pointer;
}

#main-button1 {
  grid-column: 2/3;
}

#main-button2 {
  grid-column: 3/4;
}

#main-button3 {
  grid-column: 4/5;
}

#teamdata .teamdata-formation-button-clicked, #teamdata .teamdata-formation-button, #teamdata-scrolled #teamdata-formations .teamdata-formation-button-clicked, #teamdata-scrolled #teamdata-formations .teamdata-formation-button {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  margin-left: 2px;
  height: 30px;
  width: 60px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

@-webkit-keyframes slide-from-above {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slide-from-above {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
#teamdata-scrolled {
  -webkit-animation: slide-from-above 200ms ease;
          animation: slide-from-above 200ms ease;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-image: url(../images/tło6.png);
  width: 55px;
  height: 270px;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#teamdata-scrolled #teamdata-save-button {
  font-family: "Exo 2", sans-serif;
  background-color: var(--first-color);
  color: var(--second-color);
  font-weight: bold;
  border: none;
  border-radius: 5px !important;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  justify-self: center;
  align-self: center;
}
#teamdata-scrolled #teamdata-formations {
  display: flex;
  flex-direction: column;
}
#teamdata-scrolled #teamdata-formations .teamdata-formation-button {
  margin: 2px 0;
  background-color: #d8d8d8;
  color: #1a1a1a;
}
#teamdata-scrolled #teamdata-formations .teamdata-formation-button-clicked {
  margin: 2px 0;
  transition-duration: 300ms;
  background-color: #1a1a1a;
  color: #d8d8d8;
}
#teamdata-scrolled h5,
#teamdata-scrolled #teamdata-balance-status,
#teamdata-scrolled #teamdata-teamname-container {
  display: none;
}

#teamdata {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background-image: url(../images/tło6.png);
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 7px;
  border-radius: 10px;
  border: none;
  display: grid;
  grid-template-columns: 15% 22% 37% 26%;
  grid-template-rows: 27px 36px 27px 55px;
}
#teamdata h5 {
  text-align: center;
  align-self: center;
  margin: 0;
}
#teamdata #teamdata-balance-status {
  grid-column: 3/4;
  grid-row: 2/4;
  margin: 0;
  text-align: center;
  align-self: center;
}
#teamdata #teamdata-teamname-container {
  grid-column: 1/3;
  grid-row: 2/4;
  text-align: center;
  align-self: center;
}
#teamdata #teamdata-teamname-container img {
  height: 16px;
}
#teamdata #teamdata-rename-save-button {
  margin-left: 5px;
  border: none;
  background: none;
}
#teamdata #teamdata-rename-input {
  font-family: "Exo 2", sans-serif;
  width: 150px;
  padding: 0;
  background: none;
  border: 3px solid black;
  border-radius: 10px;
  outline: none;
}
#teamdata #teamdata-rename-input::-webkit-input-placeholder {
  font-size: 20px;
  text-align: center;
}
#teamdata #teamdata-balance-status-info {
  grid-column: 3/4;
  grid-row: 1/3;
}
#teamdata #teamdata-teamname {
  cursor: pointer;
}
#teamdata #teamdata-teamname-info {
  grid-column: 1/3;
  grid-row: 1/3;
}
#teamdata #teamdata-formations {
  grid-row: 4/5;
  grid-column: 1/5;
  padding: 0 11px 0 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  align-items: center;
}
#teamdata .teamdata-formation-button {
  background-color: #d8d8d8;
  color: #1a1a1a;
}
#teamdata .teamdata-formation-button-clicked {
  transition-duration: 300ms;
  background-color: #1a1a1a;
  color: #d8d8d8;
}
#teamdata #teamdata-save-button {
  font-family: "Exo 2", sans-serif;
  background-color: var(--first-color);
  color: var(--second-color);
  grid-column: 4/5;
  grid-row: 1/4;
  font-weight: bold;
  font-size: 24px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 10px;
  margin-left: 2px;
  height: 83px;
  width: 120px;
  text-align: center;
  justify-self: center;
  align-self: center;
}

#pitch-img-container {
  grid-column: 1/2;
  background-image: url(../images/stadium3.jpg);
  background-position-x: center;
  background-position-y: bottom;
  display: grid;
  grid-template-columns: 22% 55% 22%;
  grid-template-rows: 159px auto;
  grid-column-gap: 0.5%;
  padding: 10px;
}

#pitch {
  font-family: "Exo 2", sans-serif;
  font-size: 1em;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  padding: 14% 0 0 0;
}
#pitch #pitch-line-fwd, #pitch #pitch-line-mid, #pitch #pitch-line-def, #pitch #pitch-line-gk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#pitch #pitch-line-gk {
  grid-row: 4/5;
}
#pitch #pitch-line-def {
  grid-row: 3/4;
}
#pitch #pitch-line-mid {
  grid-row: 2/3;
}
#pitch #pitch-line-fwd {
  grid-row: 1/2;
}

#bench-img-container {
  grid-column: 1/2;
  grid-row: 3/4;
  background-position-x: center;
  background-position-y: center;
}

#bench-gradient-container {
  padding: 0 10px 0 10px;
  background-image: linear-gradient(to right, #000000, #4d4d4d, #000000);
  display: grid;
  grid-template-columns: minmax(100px, 20vw) minmax(450px, 55vw) minmax(150px, 22vw);
  height: 100%;
}

#bench {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
}

@media screen and (max-width: 1180px) {
  #teamdata-save-button {
    height: 60px !important;
    width: 90% !important;
  }
  #main-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 35% 65%;
    grid-template-rows: 110px minmax(35vw, 740px) 140px 950px;
    grid-column-gap: 1vw;
  }
  #pitch-img-container,
#bench-img-container,
#menu-img-container {
    grid-column: 1/3;
    grid-template-columns: 100%;
  }
  #pitch,
#teamdata-scrolled,
#teamdata {
    grid-column: 1/2;
  }
  #teamdata-scrolled #teamdata-save-button {
    height: 30px !important;
    width: 60px !important;
  }
  .teamdata-formation-button,
.teamdata-formation-button-clicked {
    transition-duration: 300ms;
    width: 75%;
    height: 40px;
  }
  #bench-gradient-container {
    grid-template-columns: 100%;
  }
  #bench {
    grid-column: 1/2;
  }
  #small-screen-background-container {
    grid-column: 1/3;
    grid-row: 4/5;
    background-image: linear-gradient(to right, #000000, #4d4d4d, #000000);
    padding: 2%;
    display: grid;
    grid-template-columns: minmax(255px, 45%) minmax(250px, 60%);
    grid-template-rows: 870px;
    grid-column-gap: 1%;
  }
  #schedule-wide-screen,
#market-wide-screen {
    display: none !important;
  }
  #schedule-small-screen {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  #schedule-small-screen h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  #schedule-small-screen h3 {
    background-color: #1a1a1a;
    border-radius: 5px 5px 0 0;
    margin-top: 8px;
    font-size: 21px;
    color: #d8d8d8;
  }
  .schedule-match {
    grid-template-columns: minmax(75px, 1fr) minmax(40px, 80px) minmax(75px, 1fr) !important;
    height: 38px !important;
    font-size: 18px;
    margin: 8px 0 8px 0 !important;
  }
  #market-small-screen {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 25% 55% 10%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }
  #market-small-screen h1 {
    grid-row: 1/2;
    text-align: center;
    margin-top: 31px;
  }
  #search {
    grid-row: 2/3 !important;
    height: 205px !important;
    grid-template-rows: 47px 47px 56px 55px !important;
  }
  #market-list {
    grid-row: 3/4 !important;
  }
  #market-list-left {
    grid-row: 3/4 !important;
  }
  #market-list-right {
    grid-row: 3/4 !important;
  }
  #page-toggle-bar-bottom {
    grid-row: 4/5 !important;
  }
  .market-sort-button,
.market-sort-button-active,
.market-random-squad-button,
#market-reset-button,
#market-search-bar {
    font-size: 16px !important;
    height: 35px !important;
    width: 80% !important;
  }
  .market-sort-button,
.market-sort-button-active,
#market-sorting-menu-opener {
    width: 90% !important;
  }
  #market-sorting-menu-opener {
    margin: 8px 0 0 0 !important;
  }
  #market-search-bar {
    padding: 0 !important;
    width: 90% !important;
    height: 35px !important;
  }
  .market-player {
    height: 30px !important;
    margin: 2px 7px 2px 3px !important;
    grid-template-columns: 5% 50% 30% 15% !important;
  }
  .market-player-label {
    grid-template-columns: 3.5% 50% 30% 16% !important;
    margin: 2px 7px 2px 3px !important;
    text-align: end;
  }
  .second-name-label {
    text-align: start;
  }
  .second-name {
    font-size: 20px !important;
  }
  .club-name {
    width: 100% !important;
    padding-top: 8px !important;
    height: 18px !important;
  }
  .price-btn {
    height: 30px !important;
    width: 50px !important;
  }
  .club-name-label {
    text-align: center;
  }
  .page-toggle-button {
    height: 45px !important;
    width: 30px !important;
  }
}
@media screen and (max-width: 700px) {
  #main-grid {
    grid-template-rows: 110px minmax(35vw, 740px) 140px 920px 920p;
  }
  #small-screen-background-container {
    grid-column: 1/3;
    grid-row: 4/6;
    grid-template-columns: 100%;
    grid-template-rows: 950px 950px;
    grid-row-gap: 20px;
  }
  #schedule-small-screen {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #schedule-small-screen h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    margin: 0;
  }
  #market-small-screen {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #teamdata .teamdata-formation-button,
#teamdata .teamdata-formation-button-clicked {
    transition-duration: 300ms;
    width: 99% !important;
    border-radius: 0 !important;
    margin: 0 !important;
  }
  #teamdata #teamdata-formations {
    padding: 0 !important;
  }
  #teamdata #formation-button-first {
    border-radius: 5px 0 0 5px !important;
  }
  #teamdata #formation-button-last {
    border-radius: 0 5px 5px 0 !important;
  }
  #stats-container {
    height: 90vh !important;
    width: 80vw !important;
    margin: 1fr auto 1fr auto !important;
    grid-template-columns: 5% 50% 1fr 25px !important;
    grid-template-rows: 100px 15% 1fr 40% !important;
  }
  #stats-fullname {
    grid-row: 1/2 !important;
    grid-column: 2/4 !important;
    align-self: baseline !important;
    margin-top: 20px !important;
  }
  #stats-position {
    margin: 0 !important;
    justify-self: start !important;
    align-self: start !important;
    margin-top: 40px !important;
    grid-row: 2/3 !important;
    grid-column: 2/4 !important;
  }
  #stats-club {
    width: minmax(50px 50%) !important;
    grid-row: 2/3 !important;
    grid-column: 2/4 !important;
    justify-self: start !important;
    align-self: start !important;
  }
  #stats-points {
    grid-column: 2/4 !important;
    grid-row: 3/4 !important;
  }
  #stats-points li {
    grid-template-columns: 75% 25% !important;
  }
  #chart-container {
    width: 100% !important;
    max-height: 100% !important;
    grid-row: 4/5 !important;
    grid-column: 1/5 !important;
  }
  canvas {
    min-height: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 450px) {
  #stats-close-img {
    margin-top: 10px !important;
    height: 25px !important;
  }
  #stats-container {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important;
    grid-template-columns: 5% 50% 1fr 35px !important;
    grid-template-rows: 100px 15% 1fr 40% !important;
  }
}/*# sourceMappingURL=style.css.map */